<div class="section">
  <h2 class="blue-text text-darken-2">About Us</h2>
  <p class="flow-text grey-text text-darken-1">We are passionate about creating fun and engaging games for everyone to enjoy.</p>
  <p class="flow-text grey-text text-darken-1">Our mission is to bring people together through the joy of gaming.</p>
  <p class="flow-text grey-text text-darken-1">Thank you for playing Tic Tac Toe!</p>
  <p class="flow-text grey-text text-darken-1">For any inquiries or feedback, please contact us at <a href="mailto:hayatnabi@carecloud.com"></a></p>
  <p class="flow-text grey-text text-darken-1">Follow us on social media for updates and new game releases!</p>
  <p class="flow-text grey-text text-darken-1">Facebook | Twitter | Instagram</p>
  <p class="flow-text grey-text text-darken-1">© 2023 Tic Tac Toe. All rights reserved.</p>
</div>