<!-- app/views/game/_scoreboard.html.erb -->
<div id="scoreboard" style="display: flex; justify-content: center; gap: 40px; background-color: none; color: white; margin-top: 50px; font-family: sans-serif;">
  <div style="text-align: center;">
    <div style="font-size: 16px; color: gray;">PLAYER 1 (I)</div>
    <div id="score-x" style="font-size: 32px; font-weight: bold; color: gray;">0</div>
  </div>
  <div style="text-align: center;">
    <div style="font-size: 16px; color: gray;">TIE</div>
    <div id="score-tie" style="font-size: 32px; font-weight: bold; color: gray;">0</div>
  </div>
  <div style="text-align: center;">
    <div style="font-size: 16px; color: gray;">PLAYER 2 (P)</div>
    <div id="score-o" style="font-size: 32px; font-weight: bold; color: gray;">0</div>
  </div>
</div>