<div class="container center-align" style="margin-top: 50px; margin-bottom: 50px;">
  <div>
    <div style="display: flex; align-items: center; justify-content: center; gap: 12px; margin-bottom: 10px;">
      <img src="/logo.png" alt="Tic Tac Toe Logo" style="height: 50px; width: 50px;" />
      <h1 class="blue-text text-darken-2" style="margin: 0; font-size: 3rem;">Tic Tac Toe!</h1>
    </div>
    <p class="flow-text grey-text text-darken-1">The classic game reimagined for endless fun.</p>
  </div>
  <div class="section">
    <div class="card hoverable" style="width: 100%; height: 400px;">
      <div class="card-image" style="height: 100%;">
        <img src="https://cdn02.pinkoi.com/product/pXk5zhua/1/640x530.jpg" alt="Tic Tac Toe Game Preview" style="width: 100%; height: 100%; object-fit: cover;">
      </div>
    </div>
  </div>
  <div class="section">
    <%= link_to 'Start Game', game_path, class: 'btn waves-effect waves-light blue darken-2' %>
    <%= link_to 'How to Play', how_to_play_path, class: 'waves-effect waves-light btn' %>
  </div>
</div>
<!-- JavaScript to initialize the modal -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var modals = document.querySelectorAll('.modal');
    M.Modal.init(modals);
  });
</script>
<%= render 'partials/footer'%>